
.threepress img{
	max-width: 100%;
	max-height: 100%;
}

.nav-tab,
.ext-nav-tab{
	cursor: pointer;
	margin-bottom: -1px;
	opacity: .7;
	user-select: none;
}

.threepress .section,
.threepress .ext-section{
	display: none;
}
.threepress .content{
	padding: 5px;
}

.threepress .selected{
	background: linear-gradient( white, #f0f0f1);
	border-bottom: 1px solid #f0f0f1;
	opacity: 1;
}

#threepress-upload-types{
	font-size: 0px;
	display: none;
}
.threepress .upload-type{
    display: inline-block;
    width: 100%;
    max-width: 50%;
    background: white;
	border: 3px solid #99ffff;
}
.threepress .upload-type:first-of-type{
	border-right: 0px;
}
#threepress-upload-types form{
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: initial;
    vertical-align: top;
}
.threepress #threepress-upload-types .upload-type form input{
    font-size: .8rem;
}
.threepress #threepress-upload-types .upload-type p{
	margin: 0px;
}
.threepress .title{
	font-size: .9rem;
	font-weight: bold;
	margin-bottom: 5px;
}
#add-toggle,
#create-toggle{
	margin-left: 20px;
	width: 40px;
	height: 40px;
}

.threepress-toggle-wrapper{
    display: inline-block;
}

.threepress-toggle{
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: #2271b1;
    color: white;
    user-select: none;
}
.threepress-toggle:hover{
    background: #125e9b;
}

.threepress-toggle div{
	display: inline-block;
}
















.threepress-library-entry{
    border: 1px solid;
    padding: 15px;
}

#upload-model input[type=text],
#upload-model textarea{
	width: 100%;
	margin: 3px 0;
}

#guide p,
#guide h3{
	max-width: 500px;
}



#browse-threepress a{
	margin-top: 10px;
}

#gallery-form{
	padding: 10px;
	display: none;
	width: 100%;
	max-width: 100%;
	background: white;
	border: 3px solid #99ffff;
	position: relative;
	box-shadow: 0px 0px 20px;
}

#gallery-form.editing{
    border: 3px solid #bd2448; 
}

.selection label{
    margin-right: 5px;
}

#gallery-form .clarification{
	margin-top: 15px;
}

#gallery-form input[type=text]{
    min-width: 350px;
}

#gallery-form textarea{
	max-width: 100%;
	width: 100%;
}


#toplevel_page_threepress-inc-admin.current .wp-menu-name{
 	background: linear-gradient(45deg, #99ffff, #f0f0f1); 
	color: black;
}
#toplevel_page_threepress-inc-admin *{
}

.gallery-section{
	background: linear-gradient(90deg, rgba(0, 0, 0, .1), transparent );
	padding: 0px 5px 10px 5px;
	margin: 5px 0;
	display: inline-block;
	width: 100%;
}
.gallery-section h4{
	margin: 5px 0;
}

#gallery-preview{
	position: absolute;
	top: 0;
	right: 0;
/* 	background:#99ffff; */
}
#gallery-preview:hover{
/*     background: #bd2448; */
}

#gallery-preview img{
	max-width: 50px;
}

.threepress-form-controls{
/* 	display: flex; */
/* 	width: 100%; */
    text-align: right;
}

#create-gallery{
	font-size: 1rem;
    margin-right: 15px;
	border: 0px;
	margin-left: 20px;
	padding: 0 20px;
}
#close-gallery{
	font-size: 1rem;

	border: 0px;
}
.button.threepress-cancel{
	background: #b16b6b;
}
.button.threepress-cancel:hover{
	background: #864d4d
}

.model-row-preview{
	position: absolute;
	top: -5px;
	right: -5px;
	width: 30px;
}

.model-row-preview.threepress-button{
	padding: 3px;
}
.threepress-options-category:nth-of-type(odd){
   background: rgba(255, 255, 255, .4);

}
.threepress-options-category:hover{
   background: rgba(0, 0, 0, .1);

}
/* .threepress-options-category{ */
/* 	border: 1px solid; */
/* } */

.threepress-options-category h4{
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
    background: rgba(255, 205, 185, .7);
    padding: 0 5px;
}
.threepress-options-category .selection{
	display: inline-block;
	padding: 0 3px;
}
.threepress-options-category .selection:hover{
    background: rgba(0, 0, 0, .2)
}
.threepress-options-category input{
	vertical-align: middle;
}

/*.threepress-options-category label,
.threepress-options-category input{
    display: none;
}

.dropped.threepress-options-category label,
.dropped.threepress-options-category input{
    display: inline-block;
} */

.gallery-section>h4{
	color: #bd2448;
}

.threepress-row{
	cursor: pointer;
}
.threepress-row:hover{
    border-left: 4px solid #bd2448;
}

.threepress-row-icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	max-width: 30px;
}

#extension-menu{
	width: 100%;
}
#extension-content .selection{
/* 	border: 2px solid; */
    margin: 10px 0;
}

.contingent-category{
	margin-left: 20px;
}

.coord-range{
    max-width: 60px;
}

#gallery-form input.readout{
	max-width: 100px;
	min-width: 0px;
	display: inline-block;
	margin-left: 10px;
}

@media screen and (max-width: 800px){
	.threepress-options-category .selection{
		margin: 10px 0;
	}
}