
.threepress img{
	max-width: 100%;
	max-height: 100%;
}

.nav-tab,
.ext-nav-tab{
	cursor: pointer;
	margin-bottom: -1px;
	opacity: .7;
	user-select: none;
}

.threepress .section,
.threepress .ext-section{
	display: none;
}
.threepress .content{
	padding: 5px;
}

.threepress .selected{
	background: linear-gradient( white, #f0f0f1);
	border-bottom: 1px solid #f0f0f1;
	opacity: 1;
}

#threepress-upload-types{
	font-size: 0px;
	display: none;
}
.threepress .upload-type{
    display: inline-block;
    width: 100%;
    max-width: 50%;
    background: white;
	border: 3px solid #99ffff;
}
.threepress .upload-type:first-of-type{
	border-right: 0px;
}
#threepress-upload-types form{
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: initial;
    vertical-align: top;
}
.threepress #threepress-upload-types .upload-type form input{
    font-size: .8rem;
}
.threepress #threepress-upload-types .upload-type p{
	margin: 0px;
}
.threepress .title{
	font-size: .9rem;
	font-weight: bold;
	margin-bottom: 5px;
}
#add-toggle,
#create-toggle{
	margin-left: 20px;
	width: 40px;
	height: 40px;
}


.threepress-toggle-wrapper{
    display: inline-block;
}

.threepress-toggle{
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background: #2271b1;
    color: white;
    user-select: none;
}
/* .threepress-toggle:hover{
    background: #125e9b;
} */

.threepress-toggle div{
	display: inline-block;
}














.threepress-library-entry{
    border: 1px solid;
    padding: 15px;
}

#upload-model input[type=text],
#upload-model textarea{
	width: 100%;
	margin: 3px 0;
}

#guide p,
#guide h3{
	max-width: 500px;
}

#threepress-upload-types>div:first-of-type{
	display: none;
}

#browse-threepress a{
	margin-top: 10px;
}

#gallery-form{
	padding: 10px;
	display: none;
	width: 100%;
	max-width: 100%;
	background: white;
	border: 3px solid #99ffff;
	position: relative;
	box-shadow: 0px 0px 20px;
}

#gallery-form.editing{
    border: 3px solid #bd2448; 
}

.selection label{
    margin-right: 5px;
}

#gallery-form .clarification{
	margin-top: 15px;
}

#gallery-form input[type=text]{
    min-width: 350px;
}
#gallery-form input[type=checkbox]{
	vertical-align: bottom;
	display: inline-block;
}
#gallery-form textarea{
	max-width: 100%;
	width: 100%;
}

#gallery-form .range-tip{
	position: fixed;
	z-index: 99;
	padding: 10px;
	background: white;
	font-weight: bold;
}
#gallery-form .tooltip{

}
#gallery-form .tip{
    font-style: italic;
    padding-left: 20px;
    transition: .5s;
    display: none;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0px;
    background: lightgreen;
    padding: 5px;
    border: 1px solid green;
    pointer-events: none;
}

.threepress-options-category{
	position: relative;
}
#gallery-form .threepress-options-category:hover .tip.active{
    display: inline-block;
}

#toplevel_page_threepress-inc-admin.current .wp-menu-name{
 	background: linear-gradient(45deg, #99ffff, #f0f0f1); 
	color: black;
}
#toplevel_page_threepress-inc-admin *{
}

.gallery-section{
	padding: 0px 15px 10px 15px;
	display: inline-block;
	width: 100%;

}
div.gallery-section:nth-of-type(2){
	background: linear-gradient(90deg,  transparent, rgba(150, 0, 0, .5) );
}
div.gallery-section:nth-of-type(3){
	background: linear-gradient(90deg,  transparent, rgba(0, 0, 0, .5) );
}
div.gallery-section:nth-of-type(4){
	background: linear-gradient(90deg,  transparent, rgba(0, 100, 0, .5) );
}
div.gallery-section:nth-of-type(5){
	background: linear-gradient(90deg,  transparent, rgba(200, 150, 0, .5) );
}
div.gallery-section:nth-of-type(7){
	background: linear-gradient(90deg,  transparent, rgba(200, 150, 0, .5) );
}
div.gallery-section:last-of-type{
/* 	background: linear-gradient(90deg,  transparent, rgba(200, 150, 0, .5) ); */
	background: linear-gradient(90deg,  transparent, rgba(0, 0, 0, .5) );
}
.gallery-section>h3{
	color: #bd2448;
	margin: 0;
	padding: 5px 0;
}
.gallery-section h4{
	margin: 5px 0;
}
.gallery-section .button.clear{
	float: right;
}
.gallery-section .section-toggle{
	cursor: pointer;
}
.gallery-section .section-toggle:hover{
	color: #f76464;
}

.form-action,
#create-gallery,
#close-gallery,
.editing #gallery-preview{
    display: inline-block;
	position: fixed;
	right: 0px;
	z-index: 9;
	border: 3px solid #bd2448;
	border-right: 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

#gallery-preview{
	display: none;
	top: 70px;
}
#close-gallery{
	top: 205px;
}
#create-gallery{
    top: 140px;
	padding: 0 12px;
}

#create-toggle,
#create-gallery{
    background: #2271b1;
	color: white;
}
#create-gallery:hover,
#create-toggle:hover{
	background: #125890;
}

#gallery-preview img{
	max-width: 30px;
}
.button.threepress-cancel{
	background: #b16b6b;
}
.button.threepress-cancel:hover{
	background: #864d4d;
}
#create-gallery:hover,
#close-gallery:hover{
	border: 3px solid #bd2448;
	border-right: 0px;
}

.threepress-form-controls{
/* 	display: flex; */
/* 	width: 100%; */
    text-align: right;
}


.model-row-preview{
	position: absolute;
	top: -5px;
	right: -5px;
	width: 30px;
}

.model-row-preview.threepress-button{
	padding: 3px;
}
.threepress-options-category:nth-of-type(odd){
   background: rgba(255, 255, 255, .4);
}
.threepress-options-category:hover{
   background: rgba(255, 0, 0, .1);

}

.threepress-options-category h4{
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
    background: rgba(255, 205, 185, .7);
    padding: 0 5px;
}
.threepress-options-category .selection{
	display: inline-block;
	padding: 0 3px;
}
.threepress-options-category .selection:hover{
    background: rgba(0, 0, 0, .15)
}
.threepress-options-category input{
	vertical-align: middle;
}



.threepress-row{
	cursor: pointer;
}
.threepress-row:hover{
    border-left: 4px solid #bd2448;
}

.threepress-row-icon{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	max-width: 30px;
}

#tab-games .threepress-row{
	margin-bottom: 40px;
}

#extension-menu{
	width: 100%;
}
#extension-content .selection{
    margin: 10px 0;
}

.contingent-category{
	margin-left: 20px;
}

.coord-range{
    max-width: 60px;
}

#gallery-form input.readout{
	max-width: 100px;
	min-width: 0px;
	display: inline-block;
	margin-left: 10px;
}

.threepress-options-category h4{
	vertical-align: top
}



@media screen and (max-width: 800px){
	.threepress-options-category .selection{
		margin: 10px 0;
	}
}