/* #99ffff */


/*#threepress-data{
	display: none;
}*/

.threepress div{
	box-sizing: border-box;
}

.threepress img{
	max-width: 100%;
	max-height: 100%;
}

.threepress-disabled{
	opacity: .5;
	pointer-events: none;
}

.threepress-spinner{
    position: fixed;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    transition: .3s;
    background: rgba(0, 0, 0, .6);
	font-size: initial;

}

.threepress-spinner>img{
	opacity: 1 !important;
	font-size: initial;
    width: 100px;
    max-width: 90% !important;
}


.threepress .delete{
	font-size: initial;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 3px 5px; 
	background: black;
	color: white;
	cursor: pointer;
}





#alert-contain-3p{
    position:fixed;
    z-index: 999999;
    bottom: 100px;
    right: 30px;
    text-align: right;
    width: 70%;
    pointer-events: none;
    padding-top: 10px;
}
.alert-wrap-3p{
    transition: .5s;
}
.alert-msg-3p{
    position: relative;
    background: rgba(0, 0, 0, .9);
    color: lightgrey;
    font-size: 13px;
    display: inline-block;
    margin: 1px 0;
    padding: 3px 50px 3px 20px;
    pointer-events: initial;
}
.alert-msg-3p pre{
    max-height: 80vh;
    overflow-y: auto;
}
.alert-msg-3p span{
    color: orange
}
.alert-icon-3p,
.alert-close-3p{
    height: 100%;
    width: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-icon-3p{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 12px;
}




.alert-close-3p{
    position: absolute;
    right: 0px;
    top: 0px;
    pointer-events: initial;
    cursor: pointer;
    border-left: 1px solid grey;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-close-3p:hover{
    background: rgba(250, 50, 55, .4);
}
.alert-icon-3p{
    background: lightgrey;
}
.alert-icon-3p.type-success{
    background: rgba(100, 245, 100, .7);
}
.alert-icon-3p.type-error,
.alert-icon-3p.type-warning{
    background: red;
}
.hal .alert-icon-3p{
    background: rgb(255 235 0)
}
.combat .alert-icon-3p{
    background: #ff8304;
}
.alert-icon-3p.type-system{
    background: #673AB7;
}



.threepress .clarification{
	font-style: italic;
	font-size: .8rem;
}


.threepress .row{
	font-size: 0px;
	position: relative;
}
.threepress .column{
	display: inline-block;
	font-size: initial;
	width: 100%;
	vertical-align: middle;
}
.threepress .column-2{
	max-width: 50%;
}
.threepress .column-3{
	max-width: 33%;
}
.threepress .column-4{
	max-width: 25%;
}

.threepress-row{
	margin: 2px 0;
    border-left: 2px solid #bdb3b3;
	padding: 3px;
	padding-left: 5px;
	background: white;
}

.threepress-row .column{
	font-size: .8rem;
}
.threepress-row input{
    width: 100%;
    padding: 5px;
}

.threepress .model-thumb{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	max-width: 30px;
}


.threepress-meta-section{
	padding: 5px 10px;;
	background: rgba(0, 100, 100, .1);
	margin: 5px 0;
}




.threepress-overlay{
	position: absolute;
	background: linear-gradient( 295deg, rgba(255, 0, 0, .2), rgba(0, 155, 255, .3));
}



#toplevel_page_threepress-inc-admin .wp-menu-name{
	padding-left: 8px !important;
}
#toplevel_page_threepress-inc-admin *{
/* 	color: black; */
}
#toplevel_page_threepress-inc-admin img{
	max-width: 20px;
}
#toplevel_page_threepress-inc-admin span{
	margin-right: 5px;
	vertical-align: middle;
}

.threepress-viewer{
	width: 100%;
}
.threepress-viewer canvas{
	width: 100%;
}
.threepress-viewer-data{
	display: none;
}

.threepress-button{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px;
	background: rgb(245, 245, 245);
    display: inline-block;
    cursor: pointer;
}
.threepress-button:hover{
	background: #99ffff; 
}

.threepress .flex-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}